{% extends 'accounts/base.html' %}

{% block content %}
<div class="logo">Восстановление пароля</div>
<form method="post">
    {% csrf_token %}
    
    <div class="mb-3">
        <input type="email" name="email" class="form-control" placeholder="Введите ваш email" required>
    </div>
    
    <button type="submit" class="btn btn-primary">Восстановить пароль</button>
    
    <div class="auth-links mt-2">
        <a href="{% url 'login' %}" class="text-decoration-none">Вернуться к входу</a>
    </div>
</form>
{% endblock %}
