{% extends 'accounts/base.html' %}

{% block content %}
<div class="logo">Регистрация организатора</div>
<form method="post">
    {% csrf_token %}
    
    <div class="mb-3">
        {{ form.email }}
        {% if form.email.errors %}
            <div class="text-danger">{{ form.email.errors }}</div>
        {% endif %}
    </div>
    
    <div class="mb-3">
        {{ form.username }}
        {% if form.username.errors %}
            <div class="text-danger">{{ form.username.errors }}</div>
        {% endif %}
    </div>
    
    <div class="mb-3">
        {{ form.password1 }}
        {% if form.password1.errors %}
            <div class="text-danger">{{ form.password1.errors }}</div>
        {% endif %}
    </div>
    
    <div class="mb-3">
        {{ form.password2 }}
        {% if form.password2.errors %}
            <div class="text-danger">{{ form.password2.errors }}</div>
        {% endif %}
    </div>
    
    <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    
    <div class="auth-links mt-2">
        Уже есть аккаунт? <a href="{% url 'login' %}" class="text-decoration-none">Войти</a>
    </div>
</form>
{% endblock %}